TJVEADMOB BITMAP "ComponentIcons\\TJVEAdMob.bmp"
TJVEADMOBINTERSTITIAL BITMAP "ComponentIcons\\TJVEAdMobInterstitial.bmp"
TJVEANALYTICS BITMAP "ComponentIcons\\TJVEAnalytics.bmp"
TJVEANALYTICSFORVCL BITMAP "ComponentIcons\\TJVEAnalyticsForVCL.bmp"
TJVEAPPFLOOD BITMAP "ComponentIcons\\TJVEAppFlood.bmp"
TJVEAPPSTORE BITMAP "ComponentIcons\\TJVEAppStore.bmp"
TJVEAPPRATER BITMAP "ComponentIcons\\TJVEAppRater.bmp"
TJVEBANNERS BITMAP "ComponentIcons\\TJVEBanners.bmp"
TJVEBROWSER BITMAP "ComponentIcons\\TJVEBrowser.bmp"
TJVECHARTBOOST BITMAP "ComponentIcons\\TJVEChartBoost.bmp"
TJVECONFIGURATION BITMAP "ComponentIcons\\TJVEConfiguration.bmp"
TJVECUSTOMAD BITMAP "ComponentIcons\\TJVECustomAd.bmp"
TJVEEMAIL BITMAP "ComponentIcons\\TJVEEmail.bmp"
TJVEINTERSTITIALS BITMAP "ComponentIcons\\TJVEInterstitials.bmp"
TJVELAYOUT BITMAP "ComponentIcons\\TJVELayout.bmp"
TJVEMOBFOX BITMAP "ComponentIcons\\TJVEMobFox.bmp"
TJVENATIVEAD BITMAP "ComponentIcons\\TJVENativeAd.bmp"
TJVENATIVEIMAGE BITMAP "ComponentIcons\\TJVENativeImage.bmp"
TJVENATIVELABEL BITMAP "ComponentIcons\\TJVENativeLabel.bmp"
TJVEOPENURL BITMAP "ComponentIcons\\TJVEOpenURL.bmp"
TJVEPAYMENT BITMAP "ComponentIcons\\TJVEPayment.bmp"
TJVEPUBNATIVE BITMAP "ComponentIcons\\TJVEPubNative.bmp"
TJVEPUSHNOTIFICATION BITMAP "ComponentIcons\\TJVEPushNotification.bmp"
TJVEPUSHWOOSH BITMAP "ComponentIcons\\TJVEPushWoosh.bmp"
TJVEREVMOB BITMAP "ComponentIcons\\TJVERevMob.bmp"
TJVESHADE BITMAP "ComponentIcons\\TJVEShade.bmp"
TJVESOCIAL BITMAP "ComponentIcons\\TJVESocial.bmp"
TJVESPAN BITMAP "ComponentIcons\\TJVESpan.bmp"
TJVEFACEBOOKBANNER BITMAP "ComponentIcons\\TJVEFacebookBanner.bmp"
TJVEFACEBOOKINTERSTITIAL BITMAP "ComponentIcons\\TJVEFacebookInterstitial.bmp"
